body {
  background-color: white;
  font-family: Georgia;
}

h1 {
  color: teal;
  text-align: center;
}

p {
  color: purple;
  line-height: 1.5;
  max-width: 600px;
}

.highlight {
  background-color: yellow;
  padding: 5px;
}
